# Arquivos e diretórios a serem ignorados durante a construção da imagem Docker

# Arquivos de banco de dados
*.db

# Arquivo de ambiente
# alembic/

# alembic.init

shein/


db_data/

redis-data/

exported-table.csv

products.csvx

# Arquivo de configuração do Git
.gitignore

# Outros arquivos desnecessários
temp/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

*.md

bitnami
.venv
.ruff_cache
.pytest_cache